.container {
  padding: 0 2rem;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.item {
  width: 32%;
  margin-bottom: 2rem;
  border: 2px solid teal;
  padding: 1em;
}

.item:not(:nth-child(3n)) {
  margin-right: 2%;
}

.itemTtl {
  font-size: 1.6rem;
}

.itemTtl span {
  font-size: 1rem;
  color: gray;
  display: inline-block;
  margin-left: 1em;
}

.ingrename {
  display: inline-block;
  margin-right: 1em;
}

.itemHeader {
  display: flex;
  align-items: center;
}

.itemHeader input {
  width: 20px;
  height: 20px;
  margin-right: 1em;
}

.inputArea label {
  margin-bottom: 1em;
}